/* Page Styles */

body {
  background-color: #f5f5f0;
}
.card-header {
  background-color: #e6e6ff;
}
.card-body {
  background-color: ;
}
.card-footer {
  background-color: #e6e6ff;
}
.errors {
  font-size: 1.1em;
}
.errors ul {
  list-style-type: none;
}
.task {
  display: none;
}
.task.active {
  display: inline;
}
